.body{    
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 50%;
    background-position-y: 27%;
    -webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;  
}
.card1{
   background-position-y: 50%;  
    background-size: 100%;    
    -webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
}
.color{
    background-color: #566573;
    height: 40px;
    padding: 6px;
}

.p1{
    margin-left: 20px;   
    margin-top: 25px;
    
   
   }

.button{
       background-color: #99A3A4;
        border-radius: 10px;
        font-size: large;
        padding-left: 50px;
        padding-right: 50px;
        margin-right: 100px;
        margin-top: 50px;
}
.bg{
    max-width: 100%;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 70%;
    -webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;

/* background-image: url(https://www.dhresource.com/0x0/f2/albu/g6/M00/10/B1/rBVaR1s84YKAXuCSAAWrPCQc0Ik585.jpg); */

}